/* Import Fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
       url('fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-italic-webfont.woff2') format('woff2'),
       url('fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
       url('fonts/opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


/* Reset styles */

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body,
figure,
blockquote {
  margin: 0;
}


/* Typography */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: hsl(0, 0%, 40%);
}

body {
  font-size: 1.6rem;
  background-color: hsl(180, 9%, 96%);
  letter-spacing: .02rem;
  line-height: 1.6;
}

h1 {
  font-size: 4rem;
  margin: 3.2rem 0;
  font-weight: 800;
  line-height: 1.3;
  color: hsl(0, 0%, 30%);
}

h2 {
  font-size: 3.2rem;
  font-weight: 800;
  color: hsl(0, 0%, 30%);
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: .01rem;
  color: hsl(0, 0%, 30%);
}

a {
  color: hsl(2, 66%, 58%);
}

a:visited {
  color: hsl(182, 35%, 42%);
}

a:hover {
  color: hsl(205, 43%, 46%);
}

.logo a span {
  font-size: 1.9rem;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
}

.logo a span span {
  color: hsl(0, 0%, 60%);
  font-weight: 400;
}

nav a,
footer a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

nav a:hover {
  color: hsl(2, 66%, 58%);
}

/* general styles */

img {
  width: 100%;
}

video {
  width: 100%;
}


/* Navigation bar */

header {
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid hsl(0, 0%, 29%);
}

nav {
  display: flex;
  align-items: center;
  height: 6.4rem;
}

.logo {
  flex: 1rem;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline;
}

/* Layout design */

.right-col {
  padding-bottom: 3.2rem;
}

/* Main content */
main {
  margin-top: 6.4rem;
}

.banner {
  background-color: hsl(0, 0%, 85%);
}

.banner img {
  object-fit: fill;
  padding: 0;
}

.button {
  display: inline-block;
  margin: 0 1.6rem;
  width: calc(100% - 3.2rem);
  padding: 1rem;
  font-size: 2rem;
  font-weight: normal;
  background-color: hsl(0, 0%, 29%);
  text-align: center;
}

.button:hover {
  background-color: hsl(0, 0%, 40%);
}

a.button {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.info-card h3,
.info-card p {
  margin: 1.6rem;
}

.courses {
  padding-bottom: 3.2rem;
  border-top: 1px solid hsl(0, 0%, 85%);
  border-bottom: 1px solid hsl(0, 0%, 85%);
}


/* CSS settings for mobile displays */
@media screen and (max-width: 620px) {
  /* hide these parts on mobile */
  .logo span,
  nav li span,
  nav li:nth-of-type(3),
  .desktop,
  .courses img,
  .courses p,
  .exhibit .right-col,
  .exhibit h3,
  .exhibit p,
  footer ul {
    display: none;
  }

  /* main content */

  main img,
  main h1,
  main h2,
  main h3,
  main p {
    padding: 0 1.6rem;
  }

  /* navigation bar for mobile */
  nav ul {
    flex: 3;
  }

  nav li {
    flex: 1;
  }

  /* other setting for mobile */

  h2 {
    text-align: center;
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
  }

  .information {
    margin-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .courses h3 {
    background-color: hsl(0, 0%, 85%);
    padding: 1.6rem;
    padding-bottom: 2.4rem;
    margin: 0.8rem 1.6rem;
  }

  .exhibit {
    margin-bottom: 2.6rem;
  }

  footer {
    padding: 1.6rem;
  }
}


/* Designs for desktop displays */
@media screen and (min-width: 621px) {
  /* Hide these parts on desktop */
  nav li img {
    display: none;
  }

  /* Navigation bar design */
  nav ul {
    justify-content: flex-end;
    margin-right: 2.4rem;
  }

  nav li {
    flex: 0 auto;
    margin-left: 1.6rem;
  }

  header img {
    width: auto;
  }

  .logo {
    margin-left: 2.4rem;
  }

  .logo img {
    margin-right: 0.25rem;
    float: left;
  }

  /* designs for all two column sections */
  .two-col {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .left-col {
    flex: 2 48rem;
    padding: 3.2rem 2.4rem;
  }

  .right-col {
    flex: 1 32rem;
  }

  /* banner section design */
  .banner.two-col {
    align-items: center;
  }

  .banner .right-col {
    padding-right: 10rem;
    padding-left: 1.6rem;
  }

  .button {
    margin-left: 0;
  }

  /* information section */
  .information .left-col {
    border-right: 1px solid hsl(0, 0%, 85%);
  }

  .info-card {
    padding: 1.6rem;
    display: flex;
    width: 50rem;
  }

  .info-card:hover {
    background-color: hsl(0, 0%, 80%);
  }

  .info-card img {
    width: 35%;
    height: auto;
    margin-right: 1.6rem;
    object-fit: cover;
  }

  .information .info-card {
    border-bottom: 0.2rem solid hsl(0, 0%, 85%);
  }

  .information .info-card:first-child {
    padding-top: 3.2rem;
  }

  .information .info-card:last-child {
    border-bottom: none;
  }

  /* courses section */
  .courses {
    background-color: hsl(0, 0%, 85%);
  }

  .courses article {
    background-color: hsl(180, 9%, 96%);
  }

  .courses article:hover {
    background-color: hsl(0, 0%, 80%);
  }

  h2.center {
    text-align: center;
    margin: 3.2rem 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
    margin: 0 7.2rem;
  }

  article img {
    height: auto;
  }

  article .desc {
    margin: 1.6rem 1.6rem 2.4rem;
  }

  article h3 {
    margin: 0;
    padding: 0;
  }

  article p {
    margin: 1rem 0 0;
  }

  /* exhibit section */
  .exhibit .left-col {
    padding-top: 0;
  }

  .exhibit .info-card:first-child {
    padding-top: 0;
  }

  /* footer */
  footer {
    border-top: 1px solid hsl(0, 0%, 85%);
  }

  footer p {
    float: left;
    margin: 1.6rem 2.4rem 5rem;
  }

  footer ul {
    list-style: none;
    float: right;
    margin: 1.6rem 2.4rem 5rem;
  }

  footer li {
    display: inline;
    margin-right: 1.6rem;
  }

  /* designs for displays between 600px and 1024px width */
  @media screen and (max-width: 1024px) {
    .banner .right-col {
      padding-right: 2.4rem;
    }

    .container {
      margin: 0 2.4rem;
    }
  }
}
